@* @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers *@

<h2>Log In</h2>
<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="email">Email:</label>
        <input asp-for="email" type="email" name="email" class="form-control" required />
        <span asp-validation-for="email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="password">Password:</label>
        <input asp-for="password" type="password" name="password" class="form-control" required />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" value="login">Log In</button>
</form>
