@ViewData["Home Page"]

<h1>Welcome</h1>
<ul>
    <li><a href="/home/Index" class="btn btn-primary">Home page</a></li>
    <br />
    <li><a href="/user/auth" class="btn btn-primary">Auth</a></li>
    <br />
    <li><a href="/user/register" class="btn btn-primary">Register</a></li>
</ul>